Repository Serohman/template-npm-package: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run precommit:format, npm run precommit:typecheck, npm run precommit:test, npm run precommit:audit

.lintstagedrc:

{
  "src/**/*.{ts,tsx,js,jsx}": ["npm run precommit:format", "npm run precommit:typecheck"],
  "src/**/!(*.test).{ts,tsx,js,jsx}": [
    "npm run precommit:typecheck",
    "npm run precommit:format",
    "npm run precommit:lint"
  ],
  "src/**/*.test.{ts,tsx,js,jsx}": [
    "npm run precommit:typecheck",
    "npm run precommit:format",
    "npm run precommit:test"
  ],
  "package-lock.json": "npm run precommit:audit",
  "package.json": "npm run precommit:audit"
}

Notes added by 'git notes add'
  a5b0a9fe7605885f311ee1f596441551109925be
Due: none

Notes added by 'git notes add'
  9448548d2fe4cb47bab6e1a3e862f103580035f0
Due: none

fix(githooks): Move npm audit outside lint-staged
  .husky/pre-commit
  .lintstagedrc
  package.json
  src/index.ts
Due: npm run precommit:format, npm run precommit:typecheck, npm run precommit:audit

Notes added by 'git notes add'
  83323d5eab8e5bd7b1aad0d00da333e1ff867141
Due: none

feat: Add formatting, linting and testing to the release action
  .github/workflows/release.yml
  package.json
Due: npm run precommit:audit

fix: Fix linting errors
  src/index.ts
Due: npm run precommit:format, npm run precommit:typecheck

Notes added by 'git notes add'
  8ca20cfa7e665cbad69038d288b11fd1dbdbb62f
Due: none

feat: Move semantic release to a "release" branch
  .github/workflows/release.yml
  release.config.cjs
Due: none

fix: Fill package.json blanks
  package.json
Due: npm run precommit:audit

docs: Add an outline for readme
  readme.md
Due: none

Notes added by 'git notes add'
  139a391240321073ca5b55dfb59f33190b2c0787
Due: none

fix: Add more info to readme
  readme.md
Due: none

Notes added by 'git notes add'
  4b12ecbeb177b9309f09566e8763492276f63c8a
Due: none

fix: Fix spelling and grammar in readme
  readme.md
Due: none

Notes added by 'git notes add'
  9215e67dde8246e06c2fac25b4edf7531b5d39b3
Due: none

fix: Add more readme fixes
  readme.md
Due: none

Notes added by 'git notes add'
  36f46739d92fc5abe59ab9d405f0403699cd91a5
Due: none

fix: Add readme fix
  readme.md
Due: none

feat: Update package name
  package.json
  readme.md
Due: npm run precommit:audit

Notes added by 'git notes add'
  93c0c90deac8505f7ba98f1d67e1c3f91a1b1da8
Due: none

fix: Add more complete tags
  package.json
Due: npm run precommit:audit

Notes added by 'git notes add'
  8d98181d570a0baf70d283fb82d4f3937bd88cd9
Due: none

fix: Add keywords metadata
  package.json
Due: npm run precommit:audit

Notes added by 'git notes add'
  ac591b48762146bfa4484d0ee8f030e497783757
Due: none

fix: More documentation
  readme.md
  tsconfig.json
Due: none

Notes added by 'git notes add'
  28f95585ab2dd770721a199aeb3ebc4407a9cd43
Due: none
